.contacts{
    background-color: rgb(255, 255, 255);
    height: 50vh;
    padding: 100px;

}

/* src/components/ContactForm.css */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 10px;
}

.contact-form p {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-form address {
  text-align: center;
  margin-top: 20px;
  font-style: normal;
}
