.footers{
    width: 100%;
    position :sticky;
    background-color: black;
   
    margin-top: 0%;
    margin-bottom: 0%;
}

.footname{
    color: white ;
    text-align: center;
    margin: auto;
}
.teammemb{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}
.membname{
    display: flex;
    flex-direction: row;


}
.teammemb p{
    color: white;
}